@charset "UTF-8";
* {
  font-family: "Oswald", "微軟正黑體";
}

html, body {
  overflow-x: hidden;
  font-size: 16px;
  height: 200vh;
}

body {

  overflow-y: hidden;
}

header {
  position: relative;
  background-color: #282f44;
  text-align: center;
  overflow: hidden;
}
header .sblock {
  width: 80%;
  max-width: 700px;
  padding: 50px 0px;
  transform: translate(25%, 0);
}
header .block {
  position: absolute;
}
header .block.block1 {
  width: 17%;
  height: 17%;
  right: -3%;
  max-width: 170px;
  transform: rotate(45deg);
  animation: upin2 2s both;
  background-color: #e6af2e;
  opacity: 0.58;
}
header .block.block2 {
  width: 77%;
  height: 34%;
  right: 7%;
  max-width: 370px;
  transform: rotate(25deg);
  animation: upin3 1s both;
  background-color: #f5d061;
  opacity: 0.58;
}

@keyframes upin2 {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: -11%;
  }
}
@keyframes upin3 {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: -27%;
  }
}
.explore {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #f5d061;
  top: 85%;
  opacity: 0;
  transition: 0.5s;
}
.explore:after {
  display: block;
  content: "v";
  transform: scaleX(1.3) scaleY(0.5);
}
.explore.at_top {
  opacity: 1;
}

nav.navbar {
  transition: 0.5s;
}
nav.navbar a {
  transition: 0.5s;
}

nav.navbar.at_top {
  background-color: transparent;
}
nav.navbar.at_top a, nav.navbar.at_top a:visited {
  color: #ececec;
}

section#section_service {
  background-color: #ececec;
}
section#section_service .col-sm-4 {
  text-align: center;
}

#pic3 {
  stroke: black;
  stroke-width: 2px;
}
#pic3 polyline {
  fill: none;
}

#pic5 {
  stroke: black;
  stroke-width: 3px;
}
#pic5 circle {
  fill: #ececec;
}
#pic5 h3 {
  color: #e6af2e;
}

section#section_works {
  background-color: #555;
}
section#section_works .work1 {
  cursor: pointer;
  position: relative;
  padding: 5px;
  width: 400px;
  height: 400px;
  padding: 50px 0px;
}
section#section_works .work1 .texts {
  z-index: 3;
  margin: 50px;
  right: 50%;
  bottom: 0%;
  transform: translate(300px, -235%);
}
section#section_works .work1 ul#board {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30vh;
  height: 30vh;
  padding: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  z-index: 1;
}
section#section_works .work1 li {
  flex: calc(100% / 7);
  height: calc(100% / 7);
  border: 3px solid #555;
  z-index: 1;
  border-radius: 9px;
  box-sizing: border-box;
  background-color: #555;
  font-size: 15px;
  transition: 0.4s;
}
section#section_works .work2 {
  cursor: pointer;
  position: relative;
  padding: 5px;
  width: 400px;
  height: 400px;
}
section#section_works .work2 .texts {
  z-index: 3;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
}
section#section_works .work2 ul#board2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  z-index: 1;
}
section#section_works .work2 li {
  flex: calc(100% / 7);
  height: calc(100% / 7);
  border: 5px solid #555;
  z-index: 1;
  border-radius: 9px;
  box-sizing: border-box;
  background-color: #555;
  font-size: 15px;
  transition: 0.4s;
}
